@use '../../Scss/Variables' as *;
@use '../../Scss/Mixins' as *;
@use '../../Scss/ClassNames' as *;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

header {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  @include MediaQuery('md') {
    padding: 2rem 0 0 0;
    justify-content: space-evenly;
  }
  align-items: center;
  border-bottom: 1px solid $secondary_color;
  .logo {
    figure {
      width: 5rem;
      img {
        width: 100%;
      }
    }
  }

  .head_links {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      margin: auto;
      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        a {
          text-decoration: none;
          color: black;
          margin: 1rem;
          &.active {
            display: none;
          }
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 0;
          height: 1px;
          transition: width 0.4s;
          background-color: black;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .lg_links {
    display: none;
    @include MediaQuery('md') {
      display: block;
    }
    ul {
      li {
        font-size: 1.4rem;
        &:hover {
          color: white;
        }
        a {
          color: $secondary_color;
        }
      }
    }
  }
  .sm_links {
    display: block;
    @include MediaQuery('md') {
      display: none;
    }
    @extend %custom_menu;
  }

}
