    <header>
      <div class='logo' ref={logoRef}>
        <figure>
            <img src='assets/logo.png' alt='Logo.' />
        </figure>
      </div>
      <div class='lg_links'>
        <!-- <HeadLinks /> -->
      </div>
      <div class='sm_links'>
        <!-- <NavOffcanvas /> -->
        <!-- <div class='menu_hamburger' ref={menuHamburgerRef}> -->
          <figure>
            <!-- <img src={menuHamburger} alt='Menu' /> -->
          </figure>
        <!-- </div> -->
      </div>
    </header>
