    <header (click)="getPathname()">
      <a class='logo' href="/">
        <figure>
            <img src='assets/logo.png' alt='Logo.' />
        </figure>
      </a>
      <div class='lg_links'>
      <nav class='head_links'>
      <ul>
        <li *ngFor="let link of headersLink" (mouseenter)="addHoverClass()" (mouseleave)="removeHoverClass()">
          <a [href]="link.path" [ngClass]="currentPathname == link.path ? 'active' : ''">
            {{link.name}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class='sm_links'>
    <app-offcanvas [showOffcanvas]="showOffcanvas"></app-offcanvas>
      <div class='close_menu' tabindex="" (click)="toggleShowOffcanvas()" >
        <figure >
          <img src="assets/menu-hamburger.svg" alt='Menu' />
        </figure>
      </div>
  </div>
    </header>
