

 <section class='projects'>
      <div class='title'>
        <h1>Projects.</h1>
      </div>
      <hr />
      <section class='projects_sections'>
        @for (project of projects.data; track $index) {
              <div class='project' tabindex="$index" (click)="openModal(); sendProject(project);">
                <figure>
                    <img [src]="project.image" [alt]="project.title" loading='eager' />
                </figure>
                <div class='content'>
                    <div class='text'>
                      <h3>{{project.title}}</h3>
                      <p>{{project.desc}}</p>
                      <div class='tech'>
                          <span *ngFor="let tech of project.techs">{{tech}}</span>
                      </div>
                    </div>
                </div>
                <div *ngIf="!project.released" class='soon'>
                    <strong>coming soon</strong>
                </div>
              </div>
            } @empty {
              <p>there's no projects to show.</p>
            }
            <app-see-project [state]="state" [showCanvas]="showModal" (onClose)="handleClose()"></app-see-project>
        </section>
		</section>
