<div *ngIf="state && showCanvas" class="see_project active" >
      <div class='backdrop' ></div>
      <div class='modal'>
        <div class='content'>
          <div class='project_title'>
            <h1>
              <strong>{{state.title}}</strong>
            </h1>
            <div class="close-icon" (click)="closeCanvas()" >
             <i class="fa-solid fa-xmark"></i>
            </div>
          </div>

          <p class='project_desc'>{{state.desc}}</p>

          <figure>
            <img [src]="state.image" [alt]="state.title" loading='eager' />
          </figure>
          <div class='project_about'>
            <h3>About</h3>
            <p>{{state.about}}</p>
          </div>
          <div class='project_techs'>
            <h3>Technologies</h3>
            <div class='techs'>
              <span *ngFor="let tech of state.techs">
                  <strong>
                    <small>{{tech}}</small>
                  </strong>
                </span>
            </div>
          </div>
          <div class='website_url'>
            <div class='top'>
              <h3>Website</h3>
              <div>
                <i class="fa-solid fa-earth-americas"></i>
              </div>
            </div>
            <a [href]="state.website">{{state.website}}</a>
          </div>
        </div>
        <div class='github'>
            <a [href]="state.github" class='git_content'>
              <h2>Open Project</h2>
              <div class="icon"><i class="fa-brands fa-github"></i></div>
            </a>
        </div>
      </div>
    </div>
