
  <div class='see_project'>
      <div class='backdrop'></div>
      <div class='modal'>
        <div class='content'>
          <div class='project_title'>
            <h1>
              <!-- <strong>{title}</strong> -->
            </h1>
            <figure
            >
              <!-- <img src={CloseMenu} alt='Close Image' width='100%' /> -->
            </figure>
          </div>

          <!-- <p class='project_desc'>{desc}</p> -->

          <figure>
            <!-- <img src={image} alt={title} loading='eager' /> -->
          </figure>
          <div class='project_about'>
            <!-- <h3>About</h3>
            <p>{about}</p> -->
          </div>
          <div class='project_techs'>
            <h3>Technologies</h3>
            <div class='techs'>
              <!-- {techs.map((tech, index) => (
                <span key={index}>
                  <strong>
                    <small>{tech}</small>
                  </strong>
                </span>
              ))} -->
            </div>
          </div>
          <div class='website_url'>
            <div class='top'>
              <h3>Website</h3>
              <figure>
                <!-- <img src={world} alt={title} /> -->
              </figure>
            </div>
            <!-- <Link to={website}>{website}</Link> -->
          </div>
        </div>
        <div class='github'>
          <!-- <Link to={github}> -->
            <div class='git_content'>
              <h2>Open Project</h2>
              <!-- <figure>
                <img src={externalLink} alt={title} />
              </figure> -->
            </div>
          <!-- </Link> -->
        </div>
      </div>
    </div>
